<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Epconn"
			 connectionString="Data Source=LAPTOP-OF5DRCJC\SQLEXPRESS;Initial Catalog=Training_db;Integrated Security=True;Encrypt=False;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>